@import './variables';

#wrapD3Cube {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    z-index: -1;
    position: relative;
  }
  #D3Cube {
    width: 112px;
    height: 112px;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    -moz-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    -webkit-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    margin: auto;
    position: relative;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 5s ease-in-out;
    transition: all 5s ease-in-out;
    @media (max-width: 991.98px) {
      width: 160px;
      height: 160px;
      }
  }
  #D3Cube > div {
    position: absolute;
    -webkit-transition: all 5s ease-in-out;
    transition: all 5s ease-in-out;
    width: 109px;
    height: 109px;
    float: left;
    overflow: hidden;
    opacity: 0.5;
    @media (max-width: 991.98px) {
      width: 152px;
      height: 152px;
    }

  }
  #side1 {
    transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color: $cube-colour;
    @media (max-width: 991.98px) {
      transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(80px);
    }
  }
  #side2 {
    transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color: $cube-colour;
    @media (max-width: 991.98px) {
      transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(80px);
    }
  }
  #side3 {
    transform: translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: translateX(0px) translateY(0px) translateZ(56px);
    background-color: $cube-colour;
    @media (max-width: 991.98px) {
      transform: translateX(0px) translateY(0px) translateZ(80px);
    }
  }
  #side4 {
    transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color: $cube-colour;
    @media (max-width: 991.98px) {
      transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(80px);
    }
  }
  #side5 {
    transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color: $cube-colour;
    @media (max-width: 991.98px) {
      transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(80px);
    }
  }
  #side6 {
    transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    -moz-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    -webkit-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(56px);
    background-color: $cube-colour;
    @media (max-width: 991.98px) {
      transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(80px);
    }
  }
  #D3Cube {
    -webkit-animation: cubeRotation 10s infinite;
    animation: cubeRotation 10s infinite;

  }
  @-webkit-keyframes cubeRotation {
    0%   {  -webkit-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);   }
    50%   { -webkit-transform: rotateX(-22deg) rotateY(-128deg) rotateZ(0deg);  } 
    100%   {    -webkit-transform: rotateX(-22deg) rotateY(-398deg) rotateZ(0deg);  }
  }
  @keyframes cubeRotation {
    0%   {  transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);   }
    50%   { transform: rotateX(-100deg) rotateY(-128deg) rotateZ(180deg);  } 
    100%   {    transform: rotateX(-22deg) rotateY(-398deg) rotateZ(0deg);  }
  }
  