//COLOURS ==============

$white:         #ffff;
$black:         #000000;
$black-light:   #0000004f;

$cube-colour:     #000000;

//WEIGHT ===============

$verylight:         100;
$light:             200;
$regular:           400;
$medium:            500;
$semi-bold:         600;
$bold:              800;
$super-bold:        900;

// FONT ================

$commissioner:      'Commissioner', sans-serif;