//COLOURS ==============

$white:         #ffff;
$black:         #000000;
$black-light:   #0000004f;
$grey-red:      #4f1212;
$main-tone:     rgba(57, 7, 7, 0.749);

$cube-colour:            rgba(0, 0, 0, 0.5);
$cube-colour-clear:      rgba(0, 0, 0, 0.2);


//WEIGHT ===============

$verylight:         100;
$light:             200;
$regular:           400;
$medium:            500;
$semi-bold:         600;
$bold:              800;
$super-bold:        900;

// FONT ================

$commissioner:      'Commissioner', sans-serif;