@import './sass/cube';
@import './sass/mixin';
@import './sass/variables';

html, body, #root {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: $commissioner;
    font-size: 16px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    @media (max-width: 991.98px) {
    overflow: scroll;
    height: 200vh;
    font-size: 25px;
    }
}
ul, ol ,li, p {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
.App {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
    overflow: hidden;
    &:before {
        content: '';
        position: absolute;
        background: url(./img/abstract.jpg);
        width: 100%;
        height: 100%;
        z-index: -2;
        background-repeat: no-repeat;
        background-position: center 45%;
        background-size: 30rem;
        opacity: 0.8;
    }
    &::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: $background-grey;
        z-index: -3;

    }
    .main {
        margin: 1rem;
    }
    .left {
        flex: 0 1 30%;
        text-align: left;
        .skills {
            cursor: alias;
            .skill {
                &:hover {
                }
            }
        }
    }
    .center {
        flex: 0 1 40%;
        text-align: center;
        height: 100%;

        .center-container {
            display: flex;
            flex-direction: column;
            height: 100%;
            .top {
                flex: 0 1 30%;
            }
            #wrapD3Cube {
                flex: 0 1 30%;
                #D3Cube {
                    position: fixed;
                    bottom: 0;
                    top: 0;
                }
            }
            .about {
                flex: 0 1 15%;
                padding: 4rem 0 0 ;
                margin: 0 auto;
                line-height: 1.5;
                font-size: 1.15rem;
                font-weight: $regular;
                color: $main-tone;
            }
            .footer {
                flex: 0 1 25%;
                display: flex;
                flex-direction: column-reverse;
                padding-bottom: 2rem;

                .made-by {
                    font-size: .8rem;
                    font-weight: $verylight;
                }
                .social-media {
                    display: flex;
                    flex-direction: row;
                    margin:0  auto;
                    cursor: pointer;
                    z-index: 5;

                    a {
                        cursor: pointer;
                        .logo {
                            width: 1.7rem;
                            padding: 0 .5rem;
                            opacity: 0.7;
                            cursor: pointer;
                            &:hover {
                                opacity: 1;
                            }
                        }            
                    }
                }
            }
        }
    }
    .right {
        flex: 0 1 30%;
        text-align: right;
        overflow: hidden;

        .projects{
            cursor: pointer;
            &.dimmed {
                .project{
                    opacity: 0.05;    
                    transition: 0.4s ease;
                }
            }
            .project{
                &:hover {
                }
            }
        }
        .pop-up {
            position: absolute;
            right: 2rem;
            opacity: 1;
            height: 25rem;
            width: 15rem;
            border: 4px solid $background-grey;
            outline: 3px solid $white;
            animation: appear 1s;
            padding: 1rem;
            opacity: 1;
            background: $white;
            text-align: left;
            box-shadow: 0 0 .4rem $cube-colour, 0 0 5rem $cube-colour-clear;
            transition: 1.7s;
            z-index: 500;
            cursor: alias;
            &.fade {
                right: -100rem;
                opacity: 0;
            }
            .button-x {
                position: absolute;
                right: 1rem;
                bottom: 1rem;
                width: 2rem;
                height: 2rem;
                cursor: pointer;

                &:hover {
                    span {
                        &:first-child {
                            transform: rotate(415deg)
                        }
                        &:last-child {
                            transform: rotate(315deg);
                        }    
                    }
                }
                span {
                    &:first-child {
                        transform: rotate(45deg)
                    }
                    &:last-child {
                        transform: rotate(-45deg);
                    }
                    transition: 1s ease-in-out;
                    transform-origin: center;
                    position: absolute;
                    top:.9rem;
                    width: 2rem;
                    height: 1px;
                    background-color: $main-tone;
                    border-radius: 20rem;
                }
            }
            .website {
                position: absolute;
                bottom: 1rem;
                left: 1rem;
                font-size: 1rem;
                font-weight: $light;
                max-width: 8rem;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
            .title {
                font-size: 2rem;
                font-weight: $light;
                margin: .5rem 0 1rem;
            }
            .task-list {
                padding-left: 1rem;

                .task {
                    position: relative;
                    padding-bottom: 1rem;
                    font-size: 1.2rem;
                    font-weight: $light;
                    &:before {
                        content: '';
                        width: .3rem;
                        height: .3rem;
                        border:1px solid $main-tone;
                        position: absolute;
                        left: -.9rem;
                        top: .5rem;
                        // transform: rotate(25deg);
                        animation: spin 4s infinite;
                    }
                }
            }
        }

    }
    .right,
    .left {
        .projects,
        .skills {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            color: $black;
            .project,
            .skill {
                transition: 0.1s ease-in-out;
                margin-bottom: 5rem;
                font-weight: $regular;
                font-size: 2rem;
                display: inline;
                position: relative;
                color: $main-tone;

                .level-container {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    margin-top: .5rem;
                    .level {
                        height: .5rem;
                        background: $grey-red;
                        border-radius: .5rem;
                        opacity: 0.3;
                        transition: width 2s ease;
                    }
                    .level-nr {
                        font-size: .7rem;
                        padding-left: .5rem;
                        color: inherit;
                        transition: opacity 1.5s ease;
                        // &:after {
                        //     content: '%';
                        // }
                    }
                }
                @media only screen and (min-height: 0px) and (max-height: 768px) {
                    margin-bottom: 2rem;
                }   
                &:hover {
                    color: $grey-red;
                    .level-container .level-nr{
                        color: $cube-colour;
                    }
                }         
            }
            @media (max-height: 768px) {
                .project,
                .skill {
                    margin-bottom: 2rem;
                }
            }   
        }
    }
    @media (max-width: 991.98px) {
        flex-direction: column;
        .center{
            width: 15rem;
            position: fixed;
            z-index: 10;
            .center-container {
                .about{
                    padding-top: 8rem;
                    li {
                        text-align: left;
                    }
                }
                #wrapD3Cube #D3Cube {
                    left: 2rem;
                }
                .footer {
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding:5rem 0 .5rem;
                    background: linear-gradient(to top, $linear-gradient);
                    z-index: 10;
                    display: inherit;
                    &:before {
                        content: '';
                        position: fixed;
                        width: 100%;
                        top:0;
                        background: linear-gradient(to bottom, $linear-gradient);
                        height: 10rem;
                        display: inherit;
                        z-index: 999;
                    }
                }
            }
        }
        &:before {
            position: fixed;
            left: -17rem;
            top: -4rem;
            background-size: 50rem;
        }
        .left {
            .skill{
                text-align: right;
                .level-container {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
        .right {
            .projects {
                .pop-up {

                }
            }
        }
    }
    .left,
    .right {
        flex: 50%;
        z-index: 1;
    }   
}
