@import './sass/cube';
@import './sass/mixin';
@import './sass/variables';

html, body, #root {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: $commissioner;
    font-size: 16px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}
ul, ol ,li, p {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.App {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
    overflow: hidden;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(./img/wall.jpg);
        opacity: 0.2;
    }

    .main {
        margin: 1rem;
        height: 100%;
    }

    .left {
        flex: 0 1 30%;
        text-align: left;
        .skills {
            .skill {
                &:hover {
                }
            }
        }
    }
    .center {
        flex: 0 1 40%;
        text-align: center;

        .center-container {
            display: flex;
            flex-direction: column;
            height: 100%;

            .top {
                flex: 0 1 50%;
            }
            #wrapD3Cube {
                flex: 0 1 10%;
            }
            .about {
                flex: 0 1 15%;
                padding: 4rem 0 0 ;
                max-width: 24rem;
                margin: 0 auto;
                line-height: 1.5;
                font-size: 1.15rem;
                font-weight: $regular;
                color: $cube-colour;
            }
            .footer {
                flex: 0 1 25%;
                display: flex;
                flex-direction: column-reverse;
                padding-bottom: 2rem;

                .made-by {
                    font-size: .8rem;
                    font-weight: $verylight;
                }
                .social-media {
                    display: flex;
                    flex-direction: row;
                    margin:0  auto;
                    cursor: pointer;
                    z-index: 5;

                    a {
                        cursor: pointer;
                        .logo {
                            width: 1.7rem;
                            padding: 0 .5rem;
                            opacity: 0.7;
                            cursor: pointer;
                            &:hover {
                                opacity: 1;
                            }
                        }            
                    }
                    
                }
            }
        }
    }
    .right {
        flex: 0 1 30%;
        text-align: right;
        overflow: hidden;

        .projects{
            &.dimmed {
                .project{
                    opacity: 0.05;    
                    transition: 0.4s ease;
                }
            }
            .project{
                &:hover {
                }
            }
        }
        .pop-up {
            position: absolute;
            right: 2rem;
            opacity: 1;
            height: 25rem;
            width: 15rem;
            border: 1px solid $cube-colour;
            animation: appear 1s;
            padding: 1rem;
            opacity: 1;
            text-align: left;
            box-shadow: 0 0 .4rem $cube-colour, 0 0 5rem $cube-colour-clear;
            transition: 1.7s;
            z-index: 500;
            &.fade {
                right: -100rem;
                opacity: 0;
            }

            .button-x {
                position: absolute;
                right: 1rem;
                bottom: 1rem;
                width: 2rem;
                height: 2rem;
                cursor: pointer;

                &:hover {
                    span {
                        &:first-child {
                            transform: rotate(415deg)
                        }
                        &:last-child {
                            transform: rotate(315deg);
                        }    
                    }
                }

                span {
                    &:first-child {
                        transform: rotate(45deg)
                    }
                    &:last-child {
                        transform: rotate(-45deg);
                    }
                    transition: 1s ease-in-out;
                    transform-origin: center;
                    position: absolute;
                    top:.9rem;
                    width: 2rem;
                    height: 1px;
                    background-color: $cube-colour;
                    border-radius: 20rem;
                }
            }

            .website {
                position: absolute;
                bottom: 1rem;
                left: 1rem;
                font-size: 1rem;
                font-weight: $light;
                max-width: 8rem;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }

            .title {
                font-size: 2rem;
                font-weight: $light;
                margin: .5rem 0 1rem;
            }
            .task-list {
                padding-left: 1rem;

                .task {
                    position: relative;
                    padding-bottom: 1rem;
                    font-size: 1.2rem;
                    font-weight: $light;
                    &:before {
                        content: '';
                        width: .3rem;
                        height: .3rem;
                        border:1px solid $cube-colour;
                        position: absolute;
                        left: -.9rem;
                        top: .5rem;
                        // transform: rotate(25deg);
                        animation: spin 4s infinite;
                    }
                }
            }
        }

    }
    .right,
    .left {
        .projects,
        .skills {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            color: $black;

            .project,
            .skill {
                transition: 0.1s ease-in-out;
                padding-bottom: 5rem;
                font-weight: $regular;
                font-size: 2rem;
                display: inline;
                position: relative;
                color: $cube-colour;
                cursor: pointer;

                .level-container {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    .level {
                        height: .5rem;
                        background: $grey-red;
                        border-radius: .5rem;
                        opacity: 0.3;
                        transition: width 2s ease;
                    }
                    .level-nr {
                        font-size: .7rem;
                        padding-left: .5rem;
                        color: inherit;
                        transition: opacity 1.5s ease;
                        &:after {
                            content: '%';
                        }
                    }
                }

                @media (max-height: 768px) {
                    padding-bottom: 2rem;
                }   
                &:hover {
                    color: $grey-red;
                    .level-container .level-nr{
                        color: $cube-colour;
                    }
                }         
            }
        }
    }
}