#wrapD3Cube {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  z-index: -1;
  position: relative; }

#D3Cube {
  width: 112px;
  height: 112px;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
  -moz-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
  -webkit-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
  margin: auto;
  position: relative;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out; }
  @media (max-width: 991.98px) {
    #D3Cube {
      width: 160px;
      height: 160px; } }

#D3Cube > div {
  position: absolute;
  -webkit-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
  width: 109px;
  height: 109px;
  float: left;
  overflow: hidden;
  opacity: 0.5; }
  @media (max-width: 991.98px) {
    #D3Cube > div {
      width: 152px;
      height: 152px; } }

#side1 {
  transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(56px);
  -moz-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(56px);
  -webkit-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(56px);
  background-color: var(--color-cube); }
  @media (max-width: 991.98px) {
    #side1 {
      transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(80px); } }

#side2 {
  transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(56px);
  -moz-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(56px);
  -webkit-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(56px);
  background-color: var(--color-cube); }
  @media (max-width: 991.98px) {
    #side2 {
      transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(80px); } }

#side3 {
  transform: translateX(0px) translateY(0px) translateZ(56px);
  -moz-transform: translateX(0px) translateY(0px) translateZ(56px);
  -webkit-transform: translateX(0px) translateY(0px) translateZ(56px);
  background-color: var(--color-cube); }
  @media (max-width: 991.98px) {
    #side3 {
      transform: translateX(0px) translateY(0px) translateZ(80px); } }

#side4 {
  transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(56px);
  -moz-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(56px);
  -webkit-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(56px);
  background-color: var(--color-cube); }
  @media (max-width: 991.98px) {
    #side4 {
      transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(80px); } }

#side5 {
  transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(56px);
  -moz-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(56px);
  -webkit-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(56px);
  background-color: var(--color-cube); }
  @media (max-width: 991.98px) {
    #side5 {
      transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(80px); } }

#side6 {
  transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(56px);
  -moz-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(56px);
  -webkit-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(56px);
  background-color: var(--color-cube); }
  @media (max-width: 991.98px) {
    #side6 {
      transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(80px); } }

#D3Cube {
  -webkit-animation: cubeRotation 10s infinite;
  animation: cubeRotation 10s infinite; }

@-webkit-keyframes cubeRotation {
  0% {
    -webkit-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg); }
  50% {
    -webkit-transform: rotateX(-22deg) rotateY(-128deg) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateX(-22deg) rotateY(-398deg) rotateZ(0deg); } }
@keyframes cubeRotation {
  0% {
    transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg); }
  50% {
    transform: rotateX(-100deg) rotateY(-128deg) rotateZ(180deg); }
  100% {
    transform: rotateX(-22deg) rotateY(-398deg) rotateZ(0deg); } }
@keyframes appear-from-right {
  0% {
    opacity: 0;
    right: -30rem; }
  100% {
    opacity: 1;
    right: 2rem; } }
@keyframes appear-from-left {
  0% {
    opacity: 0;
    left: -30rem; }
  100% {
    opacity: 1;
    left: 2rem; } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(-90deg); }
  100% {
    transform: rotate(-180deg); } }
html, body, #root {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --color-main-font: rgba(57, 7, 7, 0.7);
  --color-shadow: #eeeeee4c;
  --color-background: #EEEEEE;
  --color-borders: #EEEEEE;
  --color-hover-red: #4f1212;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-cube: #2c2a2a; }
  @media (max-width: 991.98px) {
    html, body, #root {
      overflow: scroll;
      height: 200vh;
      font-size: 25px; } }

html.invert {
  filter: invert(1); }

ul, ol, li, p {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

button {
  border: none;
  background: none; }
  button:focus {
    outline: none; }

.App {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  overflow: hidden; }
  .App.dark {
    --color-background: #000000;
    --color-main-font: rgba(182, 173, 173, 0.7);
    --color-white: #000000;
    --color-black: #ffffff;
    --color-cube: #ffffff; }
    .App.dark .header .dark-button,
    .App.dark .footer .social-media {
      filter: invert(100%); }
    .App.dark .footer, .App.dark .footer:before {
      --color-shadow: #00000000;
      --color-borders: var(--color-background); }
  .App:focus {
    outline: none;
    border: none; }
  .App::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--color-background);
    z-index: -3;
    position: absolute; }
  .App .background-image {
    position: absolute;
    left: -100%;
    top: -100%;
    width: 300%;
    height: 300%;
    z-index: -2; }
    .App .background-image svg {
      width: 100%;
      height: 100%;
      opacity: 0.4; }
  .App .main {
    margin: 1rem; }
  .App .header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 666; }
    .App .header .dark-button .dark-icon {
      width: 2rem;
      cursor: pointer;
      opacity: 0.7; }
  .App .left {
    flex: 0 1 30%;
    text-align: left; }
    .App .left .skills {
      cursor: alias; }
    .App .left .pop-up {
      left: 2rem;
      animation: appear-from-left 1s; }
      .App .left .pop-up.fade {
        left: -100rem;
        opacity: 0; }
      @media (max-width: 991.98px) {
        .App .left .pop-up {
          left: unset;
          right: 2rem;
          animation: appear-from-right 1s; }
          .App .left .pop-up.fade {
            left: unset;
            right: -100rem; } }
  .App .center {
    flex: 0 1 40%;
    text-align: center;
    height: 100%; }
    .App .center .center-container {
      display: flex;
      flex-direction: column;
      height: 100%; }
      .App .center .center-container .top {
        flex: 0 1 30%; }
      .App .center .center-container #wrapD3Cube {
        flex: 0 1 30%; }
        .App .center .center-container #wrapD3Cube #D3Cube {
          position: fixed;
          bottom: 0;
          top: 0; }
      .App .center .center-container .about {
        flex: 0 1 15%;
        margin: 4rem auto 0;
        line-height: 1.5;
        font-size: 1.15rem;
        font-weight: 400;
        color: var(--color-main-font);
        border: 4px solid var(--color-borders);
        outline: 3px solid var(--color-white);
        background: var(--color-white);
        box-shadow: 0 0 0.4rem #ffff, 0 0 1rem var(--color-shadow);
        opacity: 0.8;
        padding: .5rem 1rem 0;
        transition: .5s ease opacity; }
        .App .center .center-container .about:hover {
          opacity: 0.9; }
      .App .center .center-container .footer {
        flex: 0 1 25%;
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 2rem; }
        .App .center .center-container .footer .made-by {
          font-size: .8rem;
          font-weight: 100;
          color: var(--color-black); }
        .App .center .center-container .footer .social-media {
          display: flex;
          flex-direction: row;
          margin: 0  auto;
          cursor: pointer;
          z-index: 5; }
          .App .center .center-container .footer .social-media a {
            cursor: pointer; }
            .App .center .center-container .footer .social-media a .logo {
              width: 1.7rem;
              padding: 0 .5rem;
              opacity: 0.7;
              cursor: pointer; }
              .App .center .center-container .footer .social-media a .logo:hover {
                opacity: 1; }
  .App .right {
    flex: 0 1 30%;
    text-align: right;
    overflow: hidden; }
    .App .right .projects {
      cursor: pointer; }
    .App .right .pop-up {
      right: 2rem;
      animation: appear-from-right 1s; }
      .App .right .pop-up.fade {
        right: -100rem;
        opacity: 0; }
  .App .right .pop-up,
  .App .left .pop-up {
    position: absolute;
    opacity: 1;
    height: 25rem;
    width: 15rem;
    border: 4px solid var(--color-borders);
    outline: 3px solid var(--color-white);
    padding: 1rem;
    opacity: 1;
    background: var(--color-white);
    text-align: left;
    box-shadow: 0 0 0.4rem #ffff, 0 0 1rem var(--color-shadow);
    transition: 1.7s;
    z-index: 500;
    cursor: alias; }
    .App .right .pop-up .button-x,
    .App .left .pop-up .button-x {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      width: 2rem;
      height: 2rem;
      cursor: pointer; }
      .App .right .pop-up .button-x:hover span:first-child,
      .App .left .pop-up .button-x:hover span:first-child {
        transform: rotate(415deg); }
      .App .right .pop-up .button-x:hover span:last-child,
      .App .left .pop-up .button-x:hover span:last-child {
        transform: rotate(315deg); }
      .App .right .pop-up .button-x span,
      .App .left .pop-up .button-x span {
        transition: 1s ease-in-out;
        transform-origin: center;
        position: absolute;
        top: .9rem;
        width: 2rem;
        height: 1px;
        background-color: var(--color-main-font);
        border-radius: 20rem; }
        .App .right .pop-up .button-x span:first-child,
        .App .left .pop-up .button-x span:first-child {
          transform: rotate(45deg); }
        .App .right .pop-up .button-x span:last-child,
        .App .left .pop-up .button-x span:last-child {
          transform: rotate(-45deg); }
    .App .right .pop-up .website,
    .App .left .pop-up .website {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      font-size: 1rem;
      font-weight: 200;
      max-width: 8rem;
      cursor: pointer;
      color: var(--color-black); }
      .App .right .pop-up .website:hover,
      .App .left .pop-up .website:hover {
        text-decoration: underline; }
    .App .right .pop-up .title,
    .App .left .pop-up .title {
      font-size: 2rem;
      font-weight: 200;
      margin: .5rem 0 1rem;
      color: var(--color-black); }
    .App .right .pop-up .task-list,
    .App .left .pop-up .task-list {
      padding-left: 1rem; }
      .App .right .pop-up .task-list .task,
      .App .left .pop-up .task-list .task {
        position: relative;
        padding-bottom: 1rem;
        font-size: 1.2rem;
        font-weight: 200;
        color: var(--color-black); }
        .App .right .pop-up .task-list .task:before,
        .App .left .pop-up .task-list .task:before {
          content: '';
          width: .3rem;
          height: .3rem;
          border: 1px solid var(--color-main-font);
          position: absolute;
          left: -.9rem;
          top: .5rem;
          animation: spin 4s infinite; }
  .App .right .projects,
  .App .right .skills,
  .App .left .projects,
  .App .left .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: #000000; }
    .App .right .projects.dimmed .project,
    .App .right .projects.dimmed .skill,
    .App .right .skills.dimmed .project,
    .App .right .skills.dimmed .skill,
    .App .left .projects.dimmed .project,
    .App .left .projects.dimmed .skill,
    .App .left .skills.dimmed .project,
    .App .left .skills.dimmed .skill {
      opacity: 0.05;
      transition: 0.4s ease; }
    .App .right .projects .project,
    .App .right .projects .skill,
    .App .right .skills .project,
    .App .right .skills .skill,
    .App .left .projects .project,
    .App .left .projects .skill,
    .App .left .skills .project,
    .App .left .skills .skill {
      transition: 0.1s ease-in-out;
      margin-bottom: 5rem;
      font-weight: 400;
      font-size: 2rem;
      display: inline;
      position: relative;
      color: var(--color-main-font);
      cursor: pointer; }
      .App .right .projects .project .level-container,
      .App .right .projects .skill .level-container,
      .App .right .skills .project .level-container,
      .App .right .skills .skill .level-container,
      .App .left .projects .project .level-container,
      .App .left .projects .skill .level-container,
      .App .left .skills .project .level-container,
      .App .left .skills .skill .level-container {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-top: .5rem; }
        .App .right .projects .project .level-container .level,
        .App .right .projects .skill .level-container .level,
        .App .right .skills .project .level-container .level,
        .App .right .skills .skill .level-container .level,
        .App .left .projects .project .level-container .level,
        .App .left .projects .skill .level-container .level,
        .App .left .skills .project .level-container .level,
        .App .left .skills .skill .level-container .level {
          height: .5rem;
          background: var(--color-hover-red);
          border-radius: .5rem;
          opacity: 0.3;
          transition: width 2s ease; }
        .App .right .projects .project .level-container .level-nr,
        .App .right .projects .skill .level-container .level-nr,
        .App .right .skills .project .level-container .level-nr,
        .App .right .skills .skill .level-container .level-nr,
        .App .left .projects .project .level-container .level-nr,
        .App .left .projects .skill .level-container .level-nr,
        .App .left .skills .project .level-container .level-nr,
        .App .left .skills .skill .level-container .level-nr {
          font-size: .7rem;
          padding-left: .5rem;
          color: inherit;
          transition: opacity 1.5s ease; }
      @media only screen and (min-height: 0px) and (max-height: 768px) {
        .App .right .projects .project,
        .App .right .projects .skill,
        .App .right .skills .project,
        .App .right .skills .skill,
        .App .left .projects .project,
        .App .left .projects .skill,
        .App .left .skills .project,
        .App .left .skills .skill {
          margin-bottom: 2rem; } }
      .App .right .projects .project:hover,
      .App .right .projects .skill:hover,
      .App .right .skills .project:hover,
      .App .right .skills .skill:hover,
      .App .left .projects .project:hover,
      .App .left .projects .skill:hover,
      .App .left .skills .project:hover,
      .App .left .skills .skill:hover {
        color: var(--color-hover-red); }
        .App .right .projects .project:hover .level-container .level-nr,
        .App .right .projects .skill:hover .level-container .level-nr,
        .App .right .skills .project:hover .level-container .level-nr,
        .App .right .skills .skill:hover .level-container .level-nr,
        .App .left .projects .project:hover .level-container .level-nr,
        .App .left .projects .skill:hover .level-container .level-nr,
        .App .left .skills .project:hover .level-container .level-nr,
        .App .left .skills .skill:hover .level-container .level-nr {
          color: #ffff; }
    @media (max-height: 768px) {
      .App .right .projects .project,
      .App .right .projects .skill,
      .App .right .skills .project,
      .App .right .skills .skill,
      .App .left .projects .project,
      .App .left .projects .skill,
      .App .left .skills .project,
      .App .left .skills .skill {
        margin-bottom: 2rem; } }
  @media (max-width: 991.98px) {
    .App {
      flex-direction: column; }
      .App .center {
        width: 15rem;
        position: fixed;
        z-index: 10; }
        .App .center .center-container .about {
          padding: 1.5rem 1rem; }
          .App .center .center-container .about li {
            text-align: left; }
        .App .center .center-container #wrapD3Cube #D3Cube {
          left: 2rem; }
        .App .center .center-container .footer {
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 5rem 0 .5rem;
          background: linear-gradient(to top, var(--color-borders) 50%, var(--color-shadow) 100%);
          z-index: 10;
          display: inherit; }
          .App .center .center-container .footer:before {
            content: '';
            position: fixed;
            width: 100%;
            top: 0;
            background: linear-gradient(to bottom, var(--color-borders) 50%, var(--color-shadow) 100%);
            height: 10rem;
            display: inherit;
            z-index: 999; }
      .App .background-image {
        position: fixed;
        left: -190%;
        top: -150%;
        width: 400%;
        height: 400%;
        transform: rotate(60deg); }
      .App .left .skill {
        text-align: right; }
        .App .left .skill .level-container {
          display: flex;
          justify-content: flex-end; } }
  .App .left,
  .App .right {
    flex: 50%;
    z-index: 1; }

/*# sourceMappingURL=index.css.map */
