@import './sass/cube';
@import './sass/mixin';
@import './sass/variables';

html, body, #root {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: $commissioner;
    font-size: 16px;
}
ul, ol ,li, p {
    padding: 0;
    margin: 0;
    list-style: none;
}

.App {
    display: flex;
    flex-direction: row;
    height: 100%;

    .main {
        margin: 1rem;
        height: 100%;
    }

    .left {
        flex: 0 1 25%;
        text-align: left;
        .skills {
            .skill {
                &:after {
                    left: -50rem;
                }
                &:hover {
                    &:after {
                        left: 0;
                    }
                }
            }
        }
    }
    .center {
        flex: 0 1 50%;
        text-align: center;

        .center-container {
            display: flex;
            flex-direction: column;
            height: 100%;

            .top {
                flex: 0 1 50%;
            }
            #wrapD3Cube {
                flex: 0 1 10%;
            }
            .about {
                flex: 0 1 15%;
                font-weight: $light;
                padding: 4rem 0 0 ;
            }
            .footer {
                flex: 0 1 25%;
                display: flex;
                flex-direction: column-reverse;
                padding-bottom: 2rem;

                .made-by {
                    font-size: .8rem;
                    font-weight: $verylight;
                }
                .social-media {
                    display: flex;
                    flex-direction: row;
                    margin:0  auto;
                    .logo {
                        width: 1.5rem;
                        padding: 0 .5rem;
                        opacity: 0.7;
                        &:hover {
                            opacity: 1;
                        }
                    }    
                }
            }
        }
    }
    .right {
        flex: 0 1 25%;
        text-align: right;

        .projects{
            .project{
                &:after {
                    right: -50rem;
                }
                &:hover {
                    &:after {
                        right: 0;
                    }
                }
            }
        }

    }
    .right,
    .left {
        .projects,
        .skills {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;

            .project,
            .skill {
                padding-bottom: 5rem;
                font-weight: $verylight;
                font-size: 2rem;
                display: inline;
                position: relative;
                cursor: pointer;

                &:after {
                    content: '';
                    transition: 0.2s ease-in-out;
                    position: absolute;
                    bottom: 4.5rem;
                    width: 50%;
                    height: 1px;
                    background-color: $black-light;
                }
            }
        }
    }
}